BR2_arm=y
BR2_cortex_a8=y
BR2_ROOTFS_POST_BUILD_SCRIPT="board/a13_olinuxino/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/a13_olinuxino/post-image.sh"
BR2_TARGET_ROOTFS_TAR_BZIP2=y
BR2_TARGET_UBOOT_SUNXI=y
BR2_TARGET_UBOOT_SUNXI_BOARDNAME="a13_olinuxino"
BR2_TARGET_UBOOT_SUNXI_GITHUB_LOCATION="https://github.com/linux-sunxi/u-boot-sunxi/tarball/sunxi"
BR2_TARGET_UBOOT_SUNXI_GITHUB_TAG="7aa9f04"
BR2_TARGET_UBOOT_SUNXI_SPL=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_GIT_REPO_URL="https://github.com/linux-sunxi/linux-sunxi.git"
BR2_LINUX_KERNEL_DEFCONFIG="a13"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
